<a href="https://colab.research.google.com/github/Sirsho29/R-programs-BD-class/blob/main/R_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
{
    var1 = readline("Enter 1st number : ");
    var2 = readline("Enter 2nd number : ");
    var3 = readline("Enter 3rd number : ");
    var4 = readline("Enter 4th number : ");
    var5 = readline("Enter 5th number : ");
}

var1 = as.integer(var1);
var2 = as.integer(var2);
var3 = as.integer(var3);
var4 = as.integer(var4);
var5 = as.integer(var5);

x <- c(var1,var2,var3,var4,var5) 

print((var1 + var2 + var3 + var4+var5))
print((var1 + var2 + var3 + var4+var5)/5)
print(sd(x))

Enter 1st number : 1
Enter 2nd number : 2
Enter 3rd number : 3
Enter 4th number : 4
Enter 5th number : 5
[1] 15
[1] 3
[1] 1.581139

In [ ]:
convert<-function(value){
  return(value*75.0)
}

print(convert(5));

**Q3 : Randomly generate 1,000 pets, from the choices “dog,” “cat,” “hamster,” and
“goldfish,” with equal probability of each being chosen. Display the first few
values of the resultant variable, and count the number of each type of pet.**

In [10]:
pet <-sample(c("dog", "cat", "hamster", "goldfish"), 1000, replace =TRUE)
str(pet)
summary(as.factor(pet))

 chr [1:1000] "dog" "cat" "dog" "cat" "hamster" "hamster" "dog" "cat" "dog" ...

     cat      dog goldfish  hamster
     258      252      239      251

**The beaver1 and beaver2 data frames contain body temperatures of two
beavers. Add a column named id to the beaver1 dataset, where the value is
always 1. Similarly, add an id column to beaver2, with value 2. Vertically
concatenate the two data frames and find the subset where body temp is above**

In [11]:
beaver1$id <- 1
beaver2$id <- 2
both_beavers <- rbind(beaver1, beaver2)
subset(both_beavers, as.logical(activ))

    day time temp  activ id
54  346 1730 37.07 1     1
68  346 1950 37.10 1     1
80  346 2150 37.53 1     1
83  346 2230 37.25 1     1
86  346 2300 37.24 1     1
114 347  340 37.15 1     1
153 307 1550 37.98 1     2
154 307 1600 38.02 1     2
155 307 1610 38.00 1     2
156 307 1620 38.24 1     2
157 307 1630 38.10 1     2
158 307 1640 38.24 1     2
159 307 1650 38.11 1     2
160 307 1700 38.02 1     2
161 307 1710 38.11 1     2
162 307 1720 38.01 1     2
163 307 1730 37.91 1     2
164 307 1740 37.96 1     2
165 307 1750 38.03 1     2
166 307 1800 38.17 1     2
167 307 1810 38.19 1     2
168 307 1820 38.18 1     2
169 307 1830 38.15 1     2
170 307 1840 38.04 1     2
171 307 1850 37.96 1     2
172 307 1900 37.84 1     2
173 307 1910 37.83 1     2
174 307 1920 37.84 1     2
175 307 1930 37.74 1     2
176 307 1940 37.76 1     2
⋮   ⋮   ⋮    ⋮     ⋮     ⋮
185 307 2110 37.95 1     2
186 307 2120 37.95 1     2
187 307 2130 37.76 1     2
188 307 2140 37.60 1     2
189 307 2150 37.89 1     2
190 307 2200 37.86 1     2
191 307 2210 37.71 1     2
192 307 2220 37.78 1     2
193 307 2230 37.82 1     2
194 307 2240 37.76 1     2
195 307 2250 37.81 1     2
196 307 2300 37.84 1     2
197 307 2310 38.01 1     2
198 307 2320 38.10 1     2
199 307 2330 38.15 1     2
200 307 2340 37.92 1     2
201 307 2350 37.64 1     2
202 308    0 37.70 1     2
203 308   10 37.46 1     2
204 308   20 37.41 1     2
205 308   30 37.46 1     2
206 308   40 37.56 1     2
207 308   50 37.55 1     2
208 308  100 37.75 1     2
209 308  110 37.76 1     2
210 308  120 37.73 1     2
211 308  130 37.77 1     2
212 308  140 38.01 1     2
213 308  150 38.04 1     2
214 308  200 38.07 1     2