<a href="https://colab.research.google.com/github/Sirsho29/R-programs-BD-class/blob/main/sumAndAvg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
{
    var1 = readline("Enter 1st number : ");
    var2 = readline("Enter 2nd number : ");
    var3 = readline("Enter 3rd number : ");
    var4 = readline("Enter 4th number : ");
    var5 = readline("Enter 5th number : ");
}

var1 = as.integer(var1);
var2 = as.integer(var2);
var3 = as.integer(var3);
var4 = as.integer(var4);
var5 = as.integer(var5);

x <- c(var1,var2,var3,var4,var5) 

print((var1 + var2 + var3 + var4+var5))
print((var1 + var2 + var3 + var4+var5)/5)
print(sd(x))

Enter 1st number : 1
Enter 2nd number : 2
Enter 3rd number : 3
Enter 4th number : 4
Enter 5th number : 5
[1] 15
[1] 3
[1] 1.581139